---
import Layout from "../layouts/Layout.astro";
import birdList from "../data/birds.json";

function capitalise(word: string) {
  const l = word.toLowerCase();
  return l[0].toUpperCase() + l.substring(1);
}

function birdCount() {
  let result = 0;
  Object.values(birdList).forEach((c) => result += c.length);
  return result;
}
---

<Layout title="Barely Laughing">
	<h2 class="mt-3">UK Bird List ({birdCount()})</h2>
    <div>
      {Object.entries(birdList).map(([category, birds]) => {
      return <div>
        <h3 class="mt-5 mb-3 text-sm text-center underline">{category}</h3>
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-2 text-center items-center text-xs">
          {birds.map((bird) => (<span>{capitalise(bird)}</span>))}
        </div>
      </div>
      })}
    </div>
</Layout>