---
import Base from "./Base.astro";

const { title } = Astro.props as any;
---

<Base title={title}>
<p slot="copyright" class="text-xs mt-3 md:mt-0"><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a></p>
<slot />
</Base>
