---
import Base from "./Base.astro";

const { title } = Astro.props as any;
---

<Base title={title}>
<p slot="copyright" class="text-xs mt-3 sm:mt-0">&copy; Copyright 2022 All Rights Reserved</p>
<slot />
</Base>