---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;

const c_navBtn = "bg-orange-600 px-1 py-2 hover:bg-orange-500";
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Personal website of Matt R: programming, music, tech, bird watching and other interests" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
  <title>{title}</title>
</head>

<body>
  <div class="w-full md:px-5 md:py-2">
    <slot />
  </div>
</body>

</html>

<style>
  body {
    @apply text-white;
    background-color: #000000;
  }
</style>
