---
import Layout from "../layouts/Layout.astro";
import { simpleDate } from "../lib";
import "../post.css";

const { content } = Astro.props;
---

<Layout title={`Barely Laughing - ${content.title}`}>
  <article class="text-justify">
    <h2>{content.title}</h2>
    <p class="pt-0">{simpleDate(content.date)}</p>
    <slot />
  </article>
</Layout>

<style>
article {
  font-family: system-ui, sans-serif;
}
</style>